.clubs {
    display: grid;
    grid-template-columns: repeat(2, minmax(10ch, 60ch));
    place-content: center;
    text-align: center;
    gap: 10vw;
    margin: 2rem auto;
    width: 90%;
}

.clubs .buzzword {
    outline: 2px solid $color-button;
    font-size: smaller;
    border-radius: 2em;
    padding: 0.5em;
    width: 25%;
    margin: 1rem auto;
}

@media (max-width: 1150px) {
    .clubs {
        grid-template-columns: repeat(1, minmax(10ch, 60ch));
        justify-content: center;
        width: 100%;
        //gap: 8vw;
    }
}
