.edu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    //height: 50vh;
    position: relative;
    z-index: 1;
}

.edu::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/assets/img/clemson-library.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 18%;
    z-index: -1;
    //clip-path: polygon(0 0, 100% 0, 0 100%);
}

// .edu .test {
//     position: relative;
//     z-index: 1;
// }

// .edu .test::before {
//     content: "";
//     position: absolute;
//     inset: 0;
//     background-image: url('/assets/img/clemson-library.webp');
//     background-size: cover;
//     background-position: top;
//     background-repeat: no-repeat;
//     opacity: 18%;
//     z-index: -1;
//     //clip-path: polygon(0 0, 100% 0, 0 100%);
// }


.edu .container {
    //text-align: end;
    align-self: end;
    max-height: 50%;
}

.edu .container2 {
    align-items: start;
    text-align: start;
    max-height: 50%;
}

.edu ul {
    //list-style-position: inside;
    padding-left: 1.5rem;
}

.grid-1 {
    display: grid;
    //grid-template-columns: repeat(1, minmax(10ch, 60ch));
    //place-content:;
    //text-align: center;
    gap: 10vw;
    //margin: 2rem auto;
    width: 90%;
}

/*
best thing to do is to create a grid and use polygon
to makes 2 seperate grids that are triangles.
from there you can make one cell have the background image

this will also work better for bugs
*/
.clemson-library {
    display: grid;
    grid-template-columns: 1fr;
    clip-path: none;
    
}

.out {
    width: 100%;
    height: 500px;
    background-color: #302320;
}

.in {
    width: inherit;
    height: inherit;
    background-image: url("/assets/img/clemson-library.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    opacity: 30%;
    position:absolute;
}

.test-grid {
    // display: grid;
    // flex-direction: row;
    width: 100%;
    height: 500px;
    // gap: 0px;
    //grid-template-rows: 1fr;
}

.test-left {
    width: 100%;
    height: inherit;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background-color: red;
    outline: solid 5px black;
    position: absolute;
}

.test-box {
    width: 50%;
    height: 50%;
    word-wrap: break-word;
    outline: solid 5px black;
}

.test-right {
    width: 100%;
    height: inherit;
    outline: solid 5px black;
    background-color:blue;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    
}

// .clemson-library::backdrop {
//     content: "";
//     position: absolute;
//     inset: 0;
//     background-image: url('/assets/img/clemson-library.webp');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     clip-path: polygon(0 0, 100% 0, 0 100%);
//     z-index: 0;
// }

// .clemson-library > * {
//     position: relative;
//     z-index: 1;
// }

.clemson-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.clemson-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 30%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}


// img {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
// }