<section class="clubs pad-large c-primary" id="clubs">
    {% include components/title.html 
        title="Clubs" 
        text="and Organizations" 
        icon="fa-solid fa-graduation-cap" 
    %}
    <hr>

    <div class="grid-2 grid-center">
        {% for club in site.data.clubs %}
            <div>
                <h2>{{ club.title }}</h2>
                <p>{{ club.description }}</p>

                <div class="flex-center">
                    {% for tag in club.tags %}
                        <p class="tag">{{ tag.item }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

</section>