<section class="hero c-primary">
    <div class="grid-2 grid-center">
        <div class="img-container">
            <img class="img-full" src="/assets/img/portrait.webp">
        </div>
        
        <div class="caption pad-large">
            <h1>Archer Pergande</h1>
            <p>COMPUTER SCIENCE STUDENT</p>
            <hr>
            
            <p><strong>{{ site.data.about.title }}</strong></p>
            <p>{{ site.data.about.content }}</p>

            <nav class="nav-center">
                <a href="mailto:{{ site.email }}"><i class='i-large fa-solid fa-envelope'></i></a>
                <a href="{{ site.github }}"><i class='i-large fa-brands fa-square-github'></i></a>
                <a href="{{ site.linkedin }}"><i class='i-large fa-brands fa-linkedin'></i></a>
            </nav>
        </div>
    </div>
</section>