<section class="projects pad-large c-secondary" id="projects">
    {% include components/title.html 
        title="Projects" 
        text="and Collaborations" 
        icon="fa-solid fa-wrench" 
    %}
    <hr>

    <div class="grid grid-center">
        {% for project in site.data.projects %}
            <div class="content">
                <a href="{{ project.link }}"><h2>{{ project.title }}</h2></a>
                <p>{{ project.description }}</p>
                <div class="overflow-container">
                    <iframe src="{{ project.video }}"></iframe>
                </div>
            </div>
        {% endfor %}
    </div>

</section>