<footer class="content">
    <div class="links">
        <a href="mailto:apergan@clemson.edu">
            <i class="fa-solid fa-envelope"></i>
            Email
        </a>

        <a href="https://github.com/archerpergande">
            <i class="fa-brands fa-square-github"></i>
            Github
        </a>

        <a href="https://www.linkedin.com/in/archer-pergande-643a67318">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
        </a>
    </div>
    
    <hr>
    <p>&copy 2025 Archer Pergande</p>
</footer>