
<!-- potential problems can be  
1. the text itself
2. the intro-caption
3. the intro-grid
4. the intro class
5. the body (probably) 
-->

<!-- probably move all this shit to index.html
 as a landing page -->

<section class="intro">

    <div class="intro-button-container">
        <button class="intro-button">Resume</button>
    </div>

    <div class="intro-grid">
        <div class="intro-image-container">
            <img src="/assets/img/main_image.png">
        </div>
        
        <div class="intro-caption">

            <div class="intro-text">
                <h1>Archer Pergande</h1>
                <p>COMPUTER SCIENCE STUDENT</p>
            </div>

            <hr>

            <div class="intro-text">
                <p>
                    I am a student at Clemson University studying 
                    for a bachelor's degree in computer science.

                    I am most interested in embedded systems and
                    program primarily in the C language.
                </p>
            </div>
            
            

        </div>

    </div>

</section>

<nav>
    <ul class="header-nav-list">
        <li>
            <a href="#education">Education</a>
        </li>

        <li>
            <a href="#clubs">Clubs</a>
        </li>

        <li>
            <a href="#projects">Projects</a>
        </li>

        <li>
            <a href="#about">About</a>
        </li>
    </ul>
</nav>