<section class="hero">

    <div class="hero-image-container">
        <img class="hero-image" src="/assets/img/hero-mid.webp" alt="Portrait">
    </div>
    
        
    <div class="hero-caption">

        <div class="hero-text">
            <h1>Archer Pergande</h1>
            <p>COMPUTER SCIENCE STUDENT</p>
            <hr>
        </div>

        <div class="hero-text">
            <p>
                I am a student at Clemson University studying 
                for a bachelor's degree in computer science.

                I am most interested in embedded systems and
                program primarily in the C language.
            </p>
        </div>
            
        <button class="hero-button">Resume</button>

    </div>

</section>