$font-primary: "FunnelSans";
$font-accent: "TheSeasons";

$color-background: #39322d;
$color-background-dark: #302320;
$color-accent: #27231f;
$color-text-primary: #f3eae1;

$color-button: #926849;
$color-highlight: #ad7e5c;

$header-height: 40px;

$width-cutoff: 1150px;
$height-cutoff: 600px;