$font-primary: "FunnelSans";
$font-accent: "TheSeasons";

$color-background: #39322d;
$color-text-primary: #f3eae1;


$color-interactive: #926849;
$color-accent: #27231f;
$color-test: #1a1715;
$color-highlight: #ad7e5c;

$nav-height: 40px;



//$color-text-secondary: #A0AEC0;