---
---

@import 'variables.scss';
@import 'header.scss';
@import 'hero.scss';

@font-face {
    font-family: "FunnelSans";
    src: url("/assets/font/FunnelSans/FunnelSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TheSeasons";
    src: url("/assets/font/TheSeasons-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; // Stop overflow scrolling on mobile
    //height: 100%;
}

// theres a thing on ios where the color goes over where
// the black bar is and makes it look weird
// i think i can fix this by making the
// body or something the accent color and making some else the background
body {
    font-family: "funnel-sans";
    line-height: 1.4;
    background-color: $color-background;
    color: $color-text-primary;
    margin-top: $header-height;
}

h1, h2, h3 {
    font-family: $font-accent;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-family: $font-primary;
}




// text-rendering: optimizeLegibility???

.i1 {
    font-size: calc(2rem + 0.5vw);
    padding: 0 5px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //width: 100%;
}

.column {
    flex-direction: column;
}

.dynamic {
    flex-direction: row;
}

@media (max-width: 1150px) {
    .dynamic {
        flex-direction: column;
    }
}

.left {
    justify-content: left;
}

.space-between {
    justify-content: space-between;
}

.text-compact {
    line-height: 1;
}

.content {
    padding: 40px;
}

.dark {
    background-color: #302320;
}

hr {
    width: 100%;
    margin: 10px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(10ch, 60ch));
    place-content: center;
    //justify-content: space-around;
    text-align: center;
    gap: 10vw;
    margin: 2rem auto;
    width: 90%;
}

.p-container {
    max-width: 60ch;
}

@media (max-width: 1150px) {
    .grid {
        grid-template-columns: repeat(1, minmax(10ch, 60ch));
        justify-content: center;
        width: 100%;
        //gap: 8vw;
    }
}

.card {
    //background-color: $color-test;
    // max-width: 60ch;
    // margin: 0 auto;
}

.text-important {
    outline: 2px solid $color-button;
    font-size: smaller;
    border-radius: 2em;
    padding: 0.5em;
    width: 25%;
    margin: 1rem auto;
}









.heading-img {
    max-width: 2.5rem;
    margin: 0px 3px;
}

.heading-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: min-content;
}

// img {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
// }