<footer class="pad">
    <nav class="nav-center">
        <a href="mailto:{{ site.email }}">
            <i class="i-large fa-solid fa-envelope"></i>
            <p>Email</p>
        </a>

        <a href="{{ site.github }}">
            <i class="i-large fa-brands fa-square-github"></i>
            <p>Github</p>
        </a>

        <a href="{{ site.linkedin }}">
            <i class="i-large fa-brands fa-linkedin"></i>
            <p>LinkedIn</p>
        </a>
    </nav>
    
    <hr>
    <p>Copyright &copy; 2025 Archer Pergande. All rights reserved.</p>
</footer>