<footer class="container-fluid bg-primary text-light p-3 mt-5">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="mailto:{{ site.email }}"><img class="nav-icon" src="/assets/img/icon/envelope-fill-white.svg"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ site.github }}"><img class="nav-icon" src="/assets/img/icon/github-mark-white.svg"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ site.linkedin }}"><img class="nav-icon" src="/assets/img/icon/linkedin-white.svg"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ site.instagram }}"><img class="nav-icon" src="/assets/img/icon/instagram-white.svg"></a>
        </li>
    </ul>

    <div class="container text-center mt-2">
        <p>&copy; Archer Pergande, All rights reserved.</p>
    </div>
</footer>