
<section class="content light" id="clubs">
    {% include components/title.html 
        title="Clubs" 
        text="and Organizations" 
        icon="fa-solid fa-graduation-cap" 
        text-align="end" 
    %}
    <hr>

    <div class="clubs">

        <div>
            <h2>ACM</h2>
            <p>
                The Association of Computing and Machinery
                aims to support those interested in computers
                by providing opportunity for learning, career
                development, and professional networking.
            </p>
            <div class="flexbox">
                <p class="buzzword">Networking</p>
                <p class="buzzword">Learning</p>
                <p class="buzzword">Community</p>
            </div>
        </div>

        <div>
            <h2>CUhackit</h2>
            <p>
                A yearly event held at Clemson where students 
                team together to design and build new ideas and 
                inventions using computers. Events are held in 
                partnership with industry leaders such as AWS, 
                Nvidia, and more.
            </p>
            <div class="flexbox">
                <p class="buzzword">Teamwork</p>
                <p class="buzzword">Creativity</p>
                <p class="buzzword">Workshop</p>
            </div>
        </div>

        <div>
            <h2>AI Club</h2>
            <p>
                Offers instruction about the fundamentals and 
                latest trends of AI and machine learning 
                algorithms
            </p>
            <div class="flexbox">
                <p class="buzzword">Technology</p>
                <p class="buzzword">Innovation</p>
                <p class="buzzword">Future</p>
            </div>
        </div>

        <div>
            <h2>UEFI Forum</h2>
            <p>
                Organization tasked with the development of 
                computer firmware. Instructional webinars are 
                hosted by Intel, AMD, Microsoft, and others.
            </p>
            <div class="flexbox">
                <p class="buzzword">Industry</p>
                <p class="buzzword">Embedded</p>
                <p class="buzzword">Career</p>
            </div>
        </div>
        
    </div>


</section>