



<section class="edu dark content" id="edu">
    <div class="container2">
        {% include components/title.html 
            title="Education" 
            text="Clemson University, SC" 
            img="/assets/img/paw-white.png" 
            flex-direction="row-reverse" 
            text-align="end"
            justify="start"
        %}
        <hr>

        <p>
            One of the most prestigious colleges in 
            South Carolina, Clemson University is known 
            for its academic excellence and strong community.
        </p>

        <br>
        <br>
        <br>
        <h2>Academic Standing</h2>
        <ul>
            <li>Degree: B.S. Computer Science</li>
            <li>Credits: 77/122 (Junior)</li>
            <li>GPA: 4.0</li>
        </ul>
        
    </div>

    <!-- <div class="container">
        <h2>Academic Standing</h2>
        <ul>
            <li>Degree: B.S. Computer Science</li>
            <li>Credits: 77/122 (Junior)</li>
            <li>GPA: 4.0</li>
        </ul>
    </div> -->
    <!-- <div class="content container">
        <h2>Academic Standing</h2>
        <p>Spring 2025</p>
        <hr>

    </div> -->
</section>



<!-- <div class="test-grid">
        <div class="test-left">
            <div class="test-box">
                fasfasdfsafsadfsadfsadfsdafdsfsadfasdfasdfsfasdfsd
            </div>
        </div>
        <div class="test-right">
            <div class="test-box">
                dfasdfasdfasdfasdfasdfasdfasdfadsfsdfs
            </div>
        </div>
    </div> -->

    <!-- <div class="out">
        <div class="in"></div>
        <section class="most-in">
            hello
        </section>
    </div> -->

    <!-- <section class="content dark clemson-library" id="Education">
        <!-- <div class="clemson-wrapper">
            <img class="clemson-img" src="/assets/img/clemson-library.webp">
        </div> -->

        <!-- <div class="split-caption wrapper">
            {% include components/title.html 
                title="Education" 
                text="Clemson University, SC" 
                img="/assets/img/paw-white.png" 
                flex-direction="row-reverse" 
                text-align="end" 
            %}
            <p>
                One of the most prestigious colleges in 
                South Carolina, Clemson University is known 
                for its academic excellence and strong community.
            </p>
        </div>

        <div class="split-img-container clemson-wrapper">
            <img class="clemson-img" src="/assets/img/clemson-library.webp">
        </div>

        <!-- <div>
            <h2>Academic tstsasf</h2>
        </div> -->


    <!-- </section> -->