<section class="hero light">

    <!-- <button class="button">Resume</button> -->

    <div class="image-container">
        <img class="image" src="/assets/img/hero-mid.webp" alt="Portrait">
    </div>
    
        
    <div class="caption">
        <div>
            <h1>Archer Pergande</h1>
            <p>COMPUTER SCIENCE STUDENT</p>
            <hr>
        </div>

        <div>
            <p><strong>ABOUT ME</strong></p>
            <p>
                I am a student at Clemson University studying 
                for a bachelor's degree in computer science.

                I am most interested in embedded systems and
                program primarily in the C language.
            </p>
        </div>

        <div class="i-container">
            <a href="mailto:apergan@clemson.edu">
                <i class="fa-solid fa-envelope"></i>
            </a>

            <a href="https://github.com/archerpergande">
                <i class="fa-brands fa-square-github"></i>
            </a>

            <a href="https://www.linkedin.com/in/archer-pergande-643a67318">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>

</section>