header {
    @include flex-center;
    position:fixed;
    top: 0;
    height: $header-height;
    width: 100%;
    background-color: $color-background;
    z-index: 1000;
}

header nav {
    height: 100%;
}

header a {
    @include flex-center;
    height: 100%;
    font-size: 1.1rem;

    @include hover-supported {
        background-color: $color-active;
    }

    @include hover-unsupported {
        color: $color-text-secondary;
        font-size: small;
    }
}